<a href="https://colab.research.google.com/github/slin35/RobotProducer/blob/main/lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
!pip install transformers

Requirement already satisfied: transformers in /usr/local/lib/python3.7/dist-packages (4.5.0)
Requirement already satisfied: tokenizers<0.11,>=0.10.1 in /usr/local/lib/python3.7/dist-packages (from transformers) (0.10.2)
Requirement already satisfied: regex!=2019.12.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (2019.12.20)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from transformers) (3.8.1)
Requirement already satisfied: sacremoses in /usr/local/lib/python3.7/dist-packages (from transformers) (0.0.44)
Requirement already satisfied: packaging in /usr/local/lib/python3.7/dist-packages (from transformers) (20.9)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from transformers) (2.23.0)
Requirement already satisfied: filelock in /usr/local/lib/python3.7/dist-packages (from transformers) (3.0.12)
Requirement already satisfied: tqdm>=4.27 in /usr/local/lib/python3.7/dist-packages (from transformers) (4.41.1)
Requirement already satisfied: numpy>=1.17 in /usr/local/lib/python3.7/dist-packages (from transformers) (1.19.5)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.4.1)
Requirement already satisfied: typing-extensions>=3.6.4; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->transformers) (3.7.4.3)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.15.0)
Requirement already satisfied: joblib in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (1.0.1)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from sacremoses->transformers) (7.1.2)
Requirement already satisfied: pyparsing>=2.0.2 in /usr/local/lib/python3.7/dist-packages (from packaging->transformers) (2.4.7)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2020.12.5)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->transformers) (2.10)

In [74]:
from transformers import pipeline

# predict the title of the movie
def get_title(overview: str):

  question_answerer = pipeline('question-answering')
  answer = question_answerer({
    'question': 'What is the name of the movie ?',
    'context': overview
  })

  return answer['answer']

In [75]:
import pandas as pd
import json
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string
import numpy as np
from nltk.stem import WordNetLemmatizer
from sklearn.model_selection import train_test_split
import os
import collections
from datetime import datetime

In [76]:
def get_data():
  # import data
  data1 = pd.read_csv('./tmdb_5000_movies.csv')
  data2 = pd.read_csv('./tmdb_5000_credits.csv')

  data1 = data1[['genres', 'title', 'overview', 'id']]
  data2 = data2[['movie_id', 'title', 'cast', 'crew']]

  data = pd.merge(data1, data2, left_on='id', right_on='movie_id', how='inner')
  data = data[['id', 'title_x', 'overview', 'genres', 'cast', 'crew']]
  data.rename({'title_x': 'title'}, axis=1, inplace=True)

  # cleanup genres
  data['genres'] = [json.loads(i) if i != [] else [] for i in data['genres']]
  data['genres'] = [[j['name'] if 'name' in j else [] for j in i] for i in data['genres']]

  # cleanup cast
  data['cast'] = [json.loads(i) if i != [] else [] for i in data['cast']]
  data['cast'] = [[j['name'] if 'name' in j else [] for j in i] for i in data['cast']]

  # cleanup crew
  data['crew'] = [json.loads(i) if i != [] else [] for i in data['crew']]
  data['crew'] = [[j['name']  for j in i if 'job' in j and j['job'] == 'Director'] for i in data['crew']]

  # get rid of rows with empty values in overview, genres, cast, crew
  data.replace("", float("NaN"), inplace=True)
  data.dropna(inplace=True)
  data = data[~data.genres.str.len().eq(0)]
  data = data[~data.cast.str.len().eq(0)]
  data = data[~data.crew.str.len().eq(0)]

  return data

In [77]:
def get_unique(data: pd.DataFrame, label: str):
  result = []
  [[result.append(item) for item in row if item not in result] for row in data[label]]
  return result

In [78]:
data = get_data()

# get unique genres
genres = get_unique(data, 'genres')

# get unique directors
directors = get_unique(data, 'crew')

# get unique cast members
cast = get_unique(data, 'cast')

In [81]:
data.head()

       id  ...                 crew
0   19995  ...      [James Cameron]
1     285  ...     [Gore Verbinski]
2  206647  ...         [Sam Mendes]
3   49026  ...  [Christopher Nolan]
4   49529  ...     [Andrew Stanton]

[5 rows x 6 columns]